\.benchmarks
\.venv
\reports
/tests/actual_calc_flow_rate.csv
/tests/expected_calc_flow_rate.csv
/tests/actual_calc_p_bhp.csv
/tests/expected_calc_p_bhp.csv
/tests/frac_tests/
/tests/horisont_csv/
/tests/test_m1/
/tests/test_frac/
/tests/test_mfrac/
/tests/test_m6/
/tests/test_multilateral/